.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://content.codecademy.com/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
